<h1> Your order: </h1>

<!-- if order requested is user's shopping cart -->

<!-- START OF TABLE FORMAT OF CART -->
<main>

  <% if @order.status == "pending" && @order.id == session[:order_id] %>
    <% if @order.order_items.count == 0 %>
      <%= render partial: "no_items"%>
    <%else%>
      <%= render partial: "pending", locals: { order: @order }%>
    <%end%>
  <%end%>

<!--    if one of the order's merchants is logged in and @order is paid, shows customer details and only merchant's order items-->
  <% if session[:merchant_id] && @order.return_merchants.include?(@current_merchant) %>
  <h2>Order <%= @order.id %>: Items Requested From Your Store</h2>
  <% @order.return_merchant_items(session[:merchant_id]).each do |item| %>
    <p>Product: <%= link_to item.product.name, product_path(item.product) %></p>
    <p>Quantity: <%= item.quantity %><p>
  <%end%>

    <h4>Customer Info</h4>

    <p>Name: <%= @order.name %></p>
    <p>Email Address: <%= @order.email %></p>
    <p>Mailing Address: <%= @order.address %></p>
    <p>Credit Card: **** **** **** <%= @order.credit_card_number.to_s[-4..-1]%></p>
    <p>Credit Card Expiration: <%= @order.expiration_date %>
    <p>Cart Status: <%= @order.status %></p>
    <p>Order placed: <%= @order.updated_at.strftime("%F") %>
  <%end%>
      <!-- if no logged-in user, or if logged-in user doesn't match any of @order's merchants, serves as CONFIRMATION PAGE (need to make so can't access again) -->
  <% if @order == @current_order && @order.status == "paid" %>
    <table class="table-sm table-bordered table-hover cart">
    <p>Please SAVE or keep record of this page. This serves as your RECEIPT.</p>
    <p> Order ID: <%= @order.id %>
      <thead>
      <tr>
        <th style="width: 30%">Product</th>
        <th style="width: 17%">Product Description</th>
        <th style="width: 17%">Price</th>
        <th style="width: 17%">Date and Time ordered</th>
        <th style="width: 5%">Quantity</th>
      </tr>
      </thead>
      <% @order.order_items.arrange_by_created_at.each do |item| %>

        <tbody>
        <tr>
          <th scope="row">
            <%= link_to image_tag(item.product.photo_url, width: "30%"), product_path(item.product) %>
            <%= link_to item.product.name, product_path(item.product) %>
          </th>
          <th scope="row">
        <p><%= item.product.description %></p>
        </th>
        <th scope="row">
          <p> <%= display_money(item.product.price)%> </p>
        </th>
        <th scope="row">
          <p> <%= item.product.updated_at.strftime("%F") %></p>
        </th>
        <th scope="row">
          <p><%= item.quantity %><p>
        </th>
        </tr>
      <% end %>
      </tbody>
      </table>
      <p>Total Cost:<strong> <%= display_money(@order.total(tax: tax_rate, shipping: shipping_cost)) %></strong></p>
      <p>Order Status: <%= @order.status %></p>

  <% end %>
  </main>

