<section class="text-center">
  <h2 class="text-center"><%= @merchant.username %></h2>

  <% if @merchant.avatar.attached? %>
    <div><%= image_tag @merchant.avatar.variant(resize_to_limit: [200, nil]) %></div>
  <% else %>
    <div><%= image_tag("dog_sleeping.jpg", :alt => "a dog sleeping in a bed, representative of your friendly site builders", :width => 200 ) %></div>
  <% end %>

  <p>Registered seller with Etzzzz since <%= @merchant.created_at.year %></p>
  <p>About <%= @merchant.username %>: <%= @merchant.description %></p>
  <div>
    <% if @merchant == @current_merchant %>
      <%= link_to "Update Your Store", edit_merchant_path(@merchant) %>
    <% end %>
  </div>

  <div>
    <% if @merchant == @current_merchant %>
      <%= link_to "Add a new product?", new_product_path %>
    <% end %>
  </div>
</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>For Sale?</th>
      </tr>
    </thead>

    <% unless @merchant.products.empty? %>
      <tbody>
        <% @merchant.sort_products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, product_path(product) %>
              <% if @merchant == @current_merchant %>
                <br/>
                <%= link_to "Update this product?", edit_product_path(product), class: "btn btn-primary" %>
              <% end %>
            </td>
            <td>
              <%= product.description %>
            </td>
            <td>
              <%= display_money(product.price) %>
            </td>
            <td>
              <%= product.for_sale ? "Active" : "Retired" %>
              <% if @merchant == @current_merchant %>
                <%= button_to "Change status?", { action: "toggle_for_sale", controller: "products", id: product.id }, method: :patch, class: "btn btn-secondary" %>
              <% end %>
            </td>
        <% end %>
      </tbody>
    <% end %>
  </table>


</section>

<% if @merchant == @current_merchant %>
  <section>
    <h3>Your Stats</h3>
    <% if @merchant.orders.empty? %>
      <p>You have no past orders</p>
    <% else %>
      <table class="table">
        <tr>
          <th>Total Revenue from Etzzz</th>
          <td><%= display_money(@merchant.total_revenue) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from completed orders</th>
          <td><%= display_money(@merchant.total_revenue("complete")) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from paid orders</th>
          <td><%= display_money(@merchant.total_revenue("paid")) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from pending orders</th>
          <td><%= display_money(@merchant.total_revenue("complete")) %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th>Total Orders with Etzzz</th>
          <td><%= @merchant.orders.count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Completed orders</th>
          <td><%= Order.select_status(status: "complete", merchant: @merchant).count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Paid orders</th>
          <td><%= Order.select_status(status: "paid", merchant: @merchant).count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Pending orders</th>
          <td><%= Order.select_status(status: "pending", merchant: @merchant).count %></td>
        </tr>
      </table>
    <% end %>

  <h3>Order history</h3>
    <% if @merchant.orders.empty? %>
      <p>You have no past orders</p>
    <% else %>
      <!--TODO - overall stats, and filter by status -->

      <table class="table">
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Date</th>-->
<!--            <th>Products</th>-->
<!--            <th>Quantity</th>-->
<!--            <th>Product Subtotals</th>-->
<!--            <th>Order Subtotal</th>-->
<!--            <th>Status</th>-->
<!--          </tr>-->
<!--        </thead>-->

        <% @merchant.orders.each do |order| %>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                   aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    <%= order.created_at.strftime("%b %e %Y, %l:%M") %> - Order Subtotal:  <%= display_money(order.order_items.sum { |item| item.line_item_total }) %> - <%= order.status.upcase %> <!--TODO - link/dropdown to change status -->
                  </h5>
                </a>
              </div>

              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                   data-parent="#accordionEx">
                <div class="card-body">
              <% items = @merchant.filter_order(order) %>
                  <%# raise StandardError %>
                  <% items.each do |item| %>
                    <%= item.product_id %>
                    <%= link_to item.product.name, product_path(item.product) %>
                    <%= item.quantity %>
                    <%= display_money(item.line_item_total) %>
                    <% if item.shipped %>
                      - shipped
                    <% elsif item.order.status == "paid" %>
                      <%= link_to "Mark as shipped", { action: "ship_order_item", controller: "order_items", id: item.id }, method: :patch  %>
                    <% end %>
                    <br/>
                  <% end %>

                  <% if order.status == "paid" %>
                    <h4>Customer Info</h4>

                    <p>Name: <%= order.name %></p>
                    <p>Email Address: <%= order.email %></p>
                    <p>Mailing Address: <%= order.address %></p>
                    <p>Credit Card: **** **** **** <%= order.credit_card_number.to_s[-4..-1]%></p>
                    <p>Credit Card Expiration: <%= order.expiration_date %>
                    <p>Cart Status: <%= order.status %></p>
                    <p>Order placed: <%= order.updated_at.strftime("%F") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          </table>
        <% end %>

  <% end %>

  </section>
<% end %>

<% if session[:merchant_id] && @order.return_merchants.include?(@current_merchant) %>
  <h2>Order <%= @order.id %>: Items Requested From Your Store</h2>
  <% @order.return_merchant_items(session[:merchant_id]).each do |item| %>
    <p>Product: <%= link_to item.product.name, product_path(item.product) %></p>
    <p>Quantity: <%= item.quantity %><p>
  <%end%>

  <h4>Customer Info</h4>

  <p>Name: <%= @order.name %></p>
  <p>Email Address: <%= @order.email %></p>
  <p>Mailing Address: <%= @order.address %></p>
  <p>Credit Card: **** **** **** <%= @order.credit_card_number.to_s[-4..-1]%></p>
  <p>Credit Card Expiration: <%= @order.expiration_date %>
  <p>Cart Status: <%= @order.status %></p>
  <p>Order placed: <%= @order.updated_at.strftime("%F") %>
<%end%>

