<section class="text-center">


  <%= render partial: "jumbotron", locals: {merchant: @merchant, text: @merchant.username, subtitle: "#{display_desc(@merchant.description)} \n Registered seller with Etzzzz since #{@merchant.created_at.year}"}%>



</section>
<section>
  <%= render partial: "cards", locals: {products: @merchant.products, is_current_merchant: (@merchant == @current_merchant) } %>
</section>
<!--<h3>Your Products</h3>-->
<!--<section>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>Product</th>-->
<!--        <th>Description</th>-->
<!--        <th>Price</th>-->
<!--        <th>For Sale?</th>-->
<!--      </tr>-->
<!--    </thead>-->

    <%# unless @merchant.products.empty? %>
<!--      <tbody>-->
        <%# @merchant.sort_products.each do |product| %>
<!--          <tr>-->
<!--            <td>-->
              <%#= link_to product.name, product_path(product) %>
              <%# if @merchant == @current_merchant %>
                <%#= link_to "Update this product?", edit_product_path(product), class: "btn btn-primary" %>
              <%# end %>
<!--            </td>-->
<!--            <td>-->
              <%#= product.description %>
<!--            </td>-->
<!--            <td>-->
              <%#= display_money(product.price) %>
<!--            </td>-->
<!--            <td>-->
              <%#= product.for_sale ? "Active" : "Retired" %>
              <%# if @merchant == @current_merchant %>
                <%#= button_to "Change status?", { action: "toggle_for_sale", controller: "products", id: product.id }, method: :patch, class: "btn btn-secondary" %>
              <%# end %>
<!--            </td>-->
        <%# end %>
<!--      </tbody>-->
    <%# end %>
<!--  </table>-->


<!--</section>-->

<% if @merchant == @current_merchant %>
  <section>
    <h3>Your Stats</h3>
    <% if @merchant.orders.empty? %>
      <p>You have no past orders</p>
    <% else %>
      <table class="table">
        <tr>
          <th>Total Revenue from Etzzz</th>
          <td><%= display_money(@merchant.total_revenue) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from completed orders</th>
          <td><%= display_money(@merchant.total_revenue("complete")) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from paid orders</th>
          <td><%= display_money(@merchant.total_revenue("paid")) %></td>
        </tr>
        <tr>
          <th class="table_subheading">Revenue from pending orders</th>
          <td><%= display_money(@merchant.total_revenue("complete")) %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th>Total Orders with Etzzz</th>
          <td><%= @merchant.orders.count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Completed orders</th>
          <td><%= Order.select_status(status: "complete", merchant: @merchant).count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Paid orders</th>
          <td><%= Order.select_status(status: "paid", merchant: @merchant).count %></td>
        </tr>
        <tr>
          <th class="table_subheading">Pending orders</th>
          <td><%= Order.select_status(status: "pending", merchant: @merchant).count %></td>
        </tr>
      </table>
    <% end %>

  <h3>Order History</h3>
    <% if @merchant.orders.empty? %>
      <p>You have no past orders</p>
    <% else %>
      <!--TODO - overall stats, and filter by status -->

      <%= form_with(url: merchant_path(@merchant), method: :get, local: true) do |form| %>
        <%= form.label "Filter orders by status" %>
        <%= form.select :merchant_order_status, ["all", "pending", "paid", "complete", "cancelled"] %>
        <%= form.submit "Filter" %>
      <% end%>

      <% @merchant_order_history.each do |order| %>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                   aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    <%= order.created_at.strftime("%b %e %Y, %l:%M") %> - Order Subtotal:  <%= display_money(@merchant.filter_order(order).sum { |item| item.line_item_total }) %> - Order Status: <%= order.status.upcase %> <!--TODO - link/dropdown to change status -->
                  </h5>
                </a>
              </div>

              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                   data-parent="#accordionEx">
                <div class="card-body">

                  <div class="row">
                    <div class="column">
                      <% items = @merchant.filter_order(order) %>
                          <% items.each do |item| %>
                            <%= item.product_id %>
                            <%= link_to item.product.name, product_path(item.product) %>
                        Quantity:  <%= item.quantity %>
                        Price: <%= display_money(item.line_item_total) %>
                            <% if item.shipped %>
                              - SHIPPED
                            <% elsif item.order.status == "paid" %>
                              <%= link_to "Mark as shipped", { action: "ship_order_item", controller: "order_items", id: item.id }, method: :patch  %>
                            <% end %>
                            <br/>
                          <% end %>
                    </div>

                  <% if order.status == "paid" %>
                    <div id="customer_info">
                        <h4>Customer Info</h4>

                        <p>Name: <%= order.name %></p>
                        <p>Email Address: <%= order.email %></p>
                        <p>Mailing Address: <%= order.address %></p>
                        <p>Credit Card: **** **** **** <%= order.credit_card_number.to_s[-4..-1]%></p>
                        <p>Credit Card Expiration: <%= order.expiration_date %>
                        <p>Order placed: <%= order.updated_at.strftime("%F") %>
                      <% end %>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>
          </div>
  <% end %>

  </section>
<% end %>
