<% if @merchant.nil? %>
  <h3>Lost? <%= link_to "Try one of our other wonderful sellers", merchants_path %></h3>
<% end %>

<section>
  <h2><%= @merchant.username %></h2>
  <p>Registered seller with Etzzzz since <%= @merchant.created_at.year %></p>
  <p><%= @merchant.description %></p>
  <p>Questions about an order? <%= @merchant.email %></p>
</section>

<section>
  <h3>Your Products</h3>
  <% @merchant.products.each do |product| %>
    <!--TODO - add link/dropdowns to edit product info -->
    <!--TODO - add a dropdown/button to retire product, from sale from this page -->
    <%= product.name %>
    <br />
  <% end %>
</section>

<!--TODO - set up so this section only shows if this merchant is the logged in user -->
<section>
  <h3>Order history</h3>
  <% if @merchant.orders.empty? %>
    <p>You have no past orders</p>
  <% else %>
    <!--TODO - overall stats, and filter by status -->
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Products</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Status</th>
        </tr>
      </thead>

      <% @merchant.orders.each do |order| %>
        <tbody>
          <tr>
            <td>
              <%= order.created_at %> <!--TODO - link to the order show view -->
            </td>
            <% items = @merchant.filter_order(order) %>
              <td>
                <% items.each do |item| %>
                  <%= item.product.name %>
                <% end %>
              </td>
              <td>
                <% items.each do |item| %>
                  <%= item.quantity %>
                <% end %>
              </td>
            <td>
              <%= items.sum { |item| item.product.price } %>
            </td>
            <td>
              <%= order.status %> <!--TODO - link/dropdown to change status -->
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
<% end %>
</section>
