<section>
  <h2><%= @merchant.username %></h2>
  <p>Registered seller with Etzzzz since <%= @merchant.created_at.year %></p>
  <p><%= @merchant.description %></p>
  <p>Questions about an order? <%= @merchant.email %></p>
  <%# TODO - attached photo?  %>
</section>

<section>
  <h3>Products</h3>
  <% @merchant.products.each do |product| %>
    <div><%= link_to product.name, product_path(product) %><br/>
    For Sale Status: <%= product.for_sale ? "Active" : "Retired" %>
      <% if @merchant == @current_merchant %>
        <%= button_to "Change status?", { action: "toggle_for_sale", controller: "products", id: product.id }, method: :patch %>
        <%= link_to "Update this product?", edit_product_path(product) %>
        <br/>
      <% end %>
    <br />
    </div>
  <% end %>

  <% if @merchant == @current_merchant %>
    <%= link_to "Add a new product?", new_product_path %>
  <% end %>
</section>

<% if @merchant == @current_merchant %>
  <section>
    <h3>Order history</h3>
    <% if @merchant.orders.empty? %>
      <p>You have no past orders</p>
    <% else %>
      <!--TODO - overall stats, and filter by status -->
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Products</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Status</th>
          </tr>
        </thead>

        <% @merchant.orders.each do |order| %>
          <tbody>
            <tr>
              <td>
                <%= link_to order.created_at, order_history_path(order) %> <!--TODO - link to the order show view -->
              </td>
              <% items = @merchant.filter_order(order) %>
                <td>
                  <% items.each do |item| %>
                    <%= link_to item.product.name, product_path(item.product) %>
                    <br/>
                  <% end %>
                </td>
                <td>
                  <% items.each do |item| %>
                    <%= item.quantity %>
                    <br/>
                  <% end %>
                </td>
              <td>
                <%= display_money(items.sum { |item| item.product.price }) %>
              </td>
              <td>
                <%= order.status %> <!--TODO - link/dropdown to change status -->
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
  <% end %>
  </section>
<% end %>