<%= form_with model: action do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", :placeholder => 'Self care with vibes.'%>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo_url %>
    <%= f.text_area :photo_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :stock %>
    <%= f.number_field :stock, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <div class="custom-form-group">
      <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :category) do |b| %>
        <%= b.label(class: "form-control") { b.check_box(class: "checkbox") +   b.text } %>
      <% end %>
      <%= link_to "Add a new category", new_category_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :for_sale, "Available now?" %>
    <%= f.select :for_sale, [true, false] %>
    <%# TODO - unhard-code - make this responsive to whatever current categories are %>
  </div>

  <div class="form-group">
    <%= f.submit action_name, class: "btn btn-primary" %>
  </div>
<% end %>