<!--<h2><%#= @product.name %></h2>-->
<!--<p><%#= link_to @product.merchant.username, merchant_path(@product.merchant) %></p>-->
<%#= image_tag(@product.photo_url, alt: "moon") %>

<%= render partial: "/layouts/flash_errors" %>

<h2><%= @product.name %></h2>
<p><%= link_to @product.merchant.username, merchant_path(@product.merchant) %></p>
<%= image_tag(@product.photo_url, alt: "moon") %>


<%# if @product.merchant == @current_merchant %>
<!--  <p><%#= link_to "update this product", edit_product_path(@product) %></p>-->
<%# end %>

<!--<p><%#= link_to @product.category, category_path(@product.category) %></p>-->
<%# TODO - check this correctly redirects once category/product table set up %>

<!--<p><%#= @product.description %></p>-->
<!--<p><%#= display_money(@product.price) %></p>-->
<!--<p><%#= @product.stock %> in stock</p>-->
<%#= form_for  :order_item, url: product_order_items_path(@product) do |f| %>
<!--  <div class="form-group">-->
    <%#= f.select :quantity, (1..@product.stock).map{|n| n},{}, {class: "form-control"} %>
<!--  </div>-->
<!--  <div class = "button"><%#= f.submit "Purchase Item", class: "task-button" %></div>-->
<%# end %>
<!--TODO - photo? -->

<!--<p></p>-->
<!--<p><%#= @product.orders.length %> sold!</p>-->

<section class="main-body">

  <div class="product-details-container">
    <div class="product-image-container">
      <div class="product-image">
        <%=image_tag(@product.photo_url, class: "card-img-top", alt: "moon")%>
      </div>
    </div>

    <div class="product-details-info">
      <div class="product-detail-header">
        <h3><%= @product.name%></h3>
      </div>

      <div class="product-detail-merchant">
        <h6>Sold by:  <%= link_to @product.merchant.username, merchant_path(@product.merchant) %></h6>
      </div>

      <div class="product-detail-price">
        <p><%= display_money(@product.price) %></p>
      </div>

      <div class="product-detail-desc">
        <p><%=@product.description%></p>
      </div>

      <div class="product-detail-categories">
        <h6>Categories:</h6>
        <ul>
        <% @product.categories.each do |cat|%>
          <li><%=cat.category%></li>
          <%end%>
        </ul>
      </div>

      <div class="product-detail-rating">
        <p>Average rating:
          <i class="fa fa-star"></i>
        </p>
      </div>

      <div class="product-detail-inventory">
        <p><%=@product.stock%> currently in stock</p>
      </div>

      <div class="product-detail-add-cart">
        <%= form_for  :order_item, url: product_order_items_path(@product) do |f| %>
          <div class="form-group">
            <%= f.select :quantity, (1..@product.stock).map{|n| n},{}, {class: "form-control"} %>
          </div>
          <div class = "button"><%= f.submit "Purchase Item", class: "task-button" %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<p></p>
<p><%= @product.orders.length %> sold!</p>

<div class="reviews">
  <h2>Reviews</h2>
  <section class="rating">Average Rating:
    <% if @product.reviews.length >= 1 %>
      <% @product.avg_rating.round.times do %>
        <% "*" %>
      <% end %>
    <% end %>
  </section>

  <div class="table-responsive-md">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>
    <tbody>
      <tr>
        <% @product.reviews.each do |review| %>
          <td><%= review.rating%></td>
          <td> <%= review.description%></td>
          <td><%= link_to 'Edit', edit_review_path(review) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

