<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "1Z", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "All Products", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "All Merchants", merchants_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Search by Category", categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Find My Order", find_my_order_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "All Merchants", merchants_path, class: "nav-link" %>
          </li>

          <% if @current_merchant.nil? %>
            <li class="nav-item">
              <%= link_to "Become a Merchant", new_merchant_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", github_login_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Dashboard", merchant_path(session[:user_id]), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "New Product", new_product_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", logout_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <% if session[:order_id] %>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "View Shopping Cart", order_path(session[:order_id]) %></button>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>
  <body>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <%if(name == "error" && message.is_a?(Hash)) %>
          <div class="alert alert-warning">
            <span><%=message["title"]%></span>
            <ul>
              <%message["errors"].each do |msg|%>
                <%unless(msg.empty?) %>
                  <li><%=msg%></li>
                <%end%>
              <%end %>
            </ul>
          </div>
        <%else%>
          <div class="alert alert-success">
              <span>
                <%= message %>
              </span>
          </div>
        <%end%>
      <%end%>
    </section>
    <%= yield %>
  </body>
</html>
