<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "1Z", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "All Products", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse by Merchants
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%@merchants.each do |merchant| %>
                <%=link_to(merchant.username, merchant_path(merchant), class: "dropdown-item") %>
              <%end%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse by Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%@categories.each do |category| %>
                <%=link_to(category.category, category_path(category), class: "dropdown-item") %>
              <%end%>
            </div>
          </li>
          <% if @current_merchant.nil? %>
            <li class="nav-item">
              <%= link_to "Become a Merchant", github_login_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Dashboard", merchant_path(session[:user_id]), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "New Product", new_product_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Add New Category", new_category_path, class: "nav-link" %>
            </li>
          <% end %>
          </ul>

        <ul class="navbar-nav navbar-right">
          <% if @current_merchant.nil? %>
            <li class="nav-item">
              <%= link_to "Log In", github_login_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% end %>
          <% if session[:order_id] %>
            <li class="nav-item">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit"><%= link_to "View Shopping Cart", order_path(session[:order_id]) %></button>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <%if(name == "error" && message.is_a?(Hash)) %>
          <div class="alert alert-warning">
            <span><%=message["title"]%></span>
            <ul>
              <%message["errors"].each do |msg|%>
                <%unless(msg.empty?) %>
                  <li><%=msg%></li>
                <%end%>
              <%end %>
            </ul>
          </div>
        <%else%>
          <div class="alert alert-success">
              <span>
                <%= message %>
              </span>
          </div>
        <%end%>
      <%end%>
    </section>
    <%= yield %>
  </body>
</html>
