<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <ul>
          <li><%= link_to "Log In", github_login_path %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
<!--          <li><%#= link_to "Current Merchant", current_merchant_path %></li>-->
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
