<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All Products", products_path %></li>
      <li><%= link_to "All Merchants", merchants_path %></li>

      <% if @current_merchant.nil? %>
        <li><%= link_to "Become a Merchant", new_merchant_path %></li>
        <li><%= link_to "Log In", github_login_path %></li>
      <% else %>
        <li><%= link_to "New Product", new_product_path %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
